<%=render 'partials/side'%>
<div class="result-container">
  <p id="notice" style="position:absolute;"><%= notice %></p>

<!--==============LISTING PRIEST HEADER DIV===================-->
<div class="listing-priests">
<h1>Results for Priests.. <span class="glyphicon glyphicon-search"></span></h1>
</div>



    <% @results.each do |priest_user| %>
      <div class="row repeat">

      <div class="col-md-2 name"><%= priest_user.name %></div>
      <div class="col-md-1"><%= image_tag('default.png', class: "img-circle thumbnail dicon") %></div>
      <div class="col-md-1"><%= priest_user.religion %></div>

      <div class="col-md-2"><%= priest_user.circles %></div>
      <div class="col-md-1">+91-<%= priest_user.phone %></div>
      <div class="col-md-4"><%= priest_user.brief %></div>

      <div class="col-md-1"><%= link_to 'ViewProfile', priest_user %></div>
        <%#= link_to 'Edit', edit_priest_user_path(priest_user) %>
        <%#= link_to 'Destroy', priest_user, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div><br />
    <% end %>


<br><br>

<%= link_to 'Sign Up as a Priest', new_priest_user_path %>
</div>
<%=render 'partials/foot'%>
